@charset "UTF-8";

.menu-principal{
  	background-color: #a3cfbb;
}

.menu-itens{
	margin-left: 30px;
}

.mensagem{
	color: red;
}

.dropdown-menu{
	background-color: #a3cfbb !important;
}

.table-list{
	margin-left: 10px;
}